<h1>Current Weather data</h1>


{{!-- <p>{{temp}}</p> --}}

<ul>
    {{#each data}}
    <li>{{@key}} : {{this}}</li>
    {{/each}}
</ul>

<form action="/" method="post">
    <label for="location">Location: </label>
    <input type="text" name="location">
    <br>
    <label for="location">Country Code: </label>
    <input type="text" name="countryCode">
    <br>
    <input type="submit" value="send">
</form>